@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500;700;900&display=swap');
@import '../../../style/Geral.css';

$first_font: 'Inter', sans-serif;

section#container_local_produtos {
    article#container_products {
        width: 95%;
        max-width: 1200px;
        margin: 50px auto;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 15px;

        div.container_products {
            min-width: 200px;
            max-width: 250px;
            height: 403px;
            background-color: var(--white);
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            border-radius: 10px;
            cursor: pointer;
            margin: auto;

            &:hover {
                transition: all 0.1s ease-in-out;
                scale: 1.05;
            }

            div.container_img {
                width: 100%;
                height: 212px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-bottom: 1px solid rgba(51, 51, 51, 0.1294117647);

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            div.info_products {
                width: 100%;
                padding: 10px;
                display: flex;
                flex-direction: column;
                gap: 10px;

                span.title_products {
                width: 100%;
                    display: block;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    color: var(--lightColorInfos);
                    font-size: 14px;
                    max-height: 2.4em;
                    line-height: 1.2;
                }

                p.price_products {
                    font-size: 24px;
                    color: #000;
                }

                p.price_products2 {
                    font-size: 12px;
                    color: var(--lightColorInfos);
                }

                span.state_frete {
                    margin: 8px 0px 4px;
                    color: #00c55f;
                    font-size: 14px;
                }
            }
        }
    }

    div#container_pages {
        width: 95%;
        margin: 100px auto;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;

        div {
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 14px;
            color: var(--ligthColorPages);

            p {
                font-weight: 300;
                padding: 5px 10px;
                background-color: rgba(0,0,0,.04);

            }
            span {
                font-weight: 300;
            }
        }

        button {
            background-color: transparent;
            border: none;
            font-size: 16px;
            color: #3483fa;
            font-family: $first_font;
            font-weight: 300;
            cursor: pointer;

            &:hover {
                color: blue;
            }
        }
    }
}

@media screen and (max-width: 663px) {
    section#container_local_produtos {
        article#container_products {
            width: 95%;
            max-width: 1200px;
            margin: 50px auto;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(136px, 1fr));
            gap: 15px;

            div.container_products {
                min-width: 136px;
                max-width: 210px;
                height: 248px;
                background-color: #fff;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                border-radius: 10px;
                cursor: pointer;
                margin: auto;

                &:hover {
                    transition: all 0.1s ease-in-out;
                    scale: 1.05;
                }

                div.container_img {
                    width: 100%;
                    height: 100px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-bottom: 1px solid rgba(51, 51, 51, 0.1294117647);

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }

                div.info_products {
                    width: 100%;
                    padding: 10px;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    span.title_products {
                    width: 100%;
                        display: block;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        color: var(--ligthColor);
                        font-size: 11px;
                        max-height: 2.4em;
                        line-height: 1.2;
                    }

                    p.price_products {
                        font-size: 16px;
                        color: var(--black);
                    }

                    p.price_products2 {
                        font-size: 11px;
                        color: var(--ligthColor);
                    }

                    span.state_frete {
                        margin: 8px 0px 4px;
                        color: #00c55f;
                        font-size: 11px;
                    }
                }
            }
        }
    }
}